.whiteFont {
  color: #fff;
}
.whiteBack {
  background-color: #fff;
}
.blackFont {
  color: #000;
}
p,
label,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  font-family: Georgia, "Times New Roman", Times, serif !important;
}
.noMarginBottom {
  margin-bottom: 0;
}
.myContainer {
  max-width: 1440px;
  width: 100%;
}
.contentContainer {
  max-width: 1600px;
  width: 100%;
}
.contentBack {
  background-color: #f7f6ff;
  border-radius: 15px;
}
