.UpComingWebinarsTable {
  min-width: 100%;
}
.tableRescheduleButton {
  background-color: #363090;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 100px;
}
.tableCancelButton {
  background-color: #e63c49;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 100px;
}
.UpComingWebinarsTableRow {
  border-bottom: solid 1px #ccc;
}
.UpComingWebinarsTableRow:hover {
  background-color: #f9e6e6;
}
